[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
qantara = "3oM4F5kVGXxid46LavUEjY3d3fREeyEm5dTKDX6ZRreU"
qantara_v2 = "JCjXHcUy7LzJsLBoafjem9wRffRyuyGYsiTz35Yyr9AH"

[programs.mainnet]
qantara = "3oM4F5kVGXxid46LavUEjY3d3fREeyEm5dTKDX6ZRreU"
qantara_v2 = "JCjXHcUy7LzJsLBoafjem9wRffRyuyGYsiTz35Yyr9AH"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
test-v2 = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/v2/**/*.ts"
test-v2-only = "bash scripts/test-v2-only.sh"
